<%- include("../partials/header") %>
 <%- include("../partials/navbar") %>


 <div class="container display-3 text-center p-3">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 mt-3">
        <img src="https://media.giphy.com/media/L95W4wv8nnb9K/giphy.gif" style="border-radius: 20% 20%; width: 200px;">
        <div >Payment Failed
            <br>
            <img src="https://steamuserimages-a.akamaihd.net/ugc/575692318013290074/3F712AF546AE8F26F5124F41B58D68A954FCF8D4/" style="width:90px">
        </div>
        <p class="display-6">Try Again.......</p>
       </div>
        </div>
        <div class="col-md-2"></div>
        </div>
        </div>

 <%- include("../partials/footer") %>
 