<%- include("../partials/header") %>
 <%- include("../partials/navbar") %>



 <div class="container display-3 text-center"style="margin:50px ">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <img src="https://media.giphy.com/media/SnLkU2XG1z5io/giphy.gif" style="border-radius: 50%; width: 200px;">
            <div >Payment Successful 
                <br>
                <img src="https://cdn3.iconfinder.com/data/icons/flat-actions-icons-9/792/Tick_Mark_Dark-512.png" style="width:60px">
            </div>
            <p class="display-6">Thank You For Shopping....</p>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>


 <%- include("../partials/footer") %>
 